# Git
.git
.gitignore

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js build output
.next
out

# Environment files
.env
.env.local
.env.development
.env.production
.env.test

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Tests
coverage

# Documentation
README.md
*.md

# Docker
Dockerfile
.dockerignore